:root {
	box-sizing: border-box;

	/* sizes */

	--clockCnt-height: 100vh;
	--clockCnt-width: 100%;

	--clockCnt__clock-width: 25%;
	--clockCnt__clock-height: 80vh;
	--clockCnt__clock-marginTop: 4%;

	--changeClockMode-width: 290px;
	--changeClockMode-marginTop: 4%;

	--analogClock-width: 80%;
	--analogClock-height: 35vh;
	--analogClock-borderRadius: 50%;
	--analogClock-before-width: 2%;
	--analogClock-before-height: 2%;

	/* colors */

	--clockCnt-bg-color: #ffc8dd;

	--clockCnt__clock-bg-color: #ffafcc;

	--analogClock-border-color: #ffc8dd;
}

/* .clockCnt, */
.clockCnt__clock,
.changeClockMode {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.clockCnt {
	box-sizing: content-box;
	background-color: var(--clockCnt-bg-color);
	height: var(--clockCnt-height);
	position: fixed;
	width: var(--clockCnt-width);
}

.clockCnt__clock {
	background-color: var(--clockCnt__clock-bg-color);
	width: var(--clockCnt__clock-width);
	height: var(--clockCnt__clock-height);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	margin-top: var(--clockCnt__clock-marginTop);
	position: absolute;
}

.changeClockMode {
	/* width: var(--changeClockMode-width); */
	margin-top: var(--changeClockMode-marginTop);
	position: relative;
	transform: scale(var(--changeClockMode-width));
}

#analogClockCnt {
	position: relative;
}

.analogClock {
	width: var(--analogClock-width);
	height: var(--analogClock-height);
	border: 2px solid var(--analogClock-border-color);
	border-radius: var(--analogClock-borderRadius);
	/* position: relative; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.analogClock span {
	position: absolute;
	transform: rotate(calc(30deg * var(--i)));
	inset: 12px;
	text-align: center;
}

.analogClock span b {
	transform: rotate(calc(-30deg * var(--i)));
	display: inline-block;
}

.analogClock::before {
	background-color: aliceblue;
	content: "";
	position: absolute;
	width: var(--analogClock-before-width);
	height: var(--analogClock-before-height);
	border-radius: 50%;
}

.arrowHr {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.arrowMin {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.arrowSec {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: brown;
}

.arrowHr i {
	position: absolute;
	width: 4px;
	height: 37px;
	background-color: aqua;
}

.arrowMin i {
	position: absolute;
	width: 2px;
	height: 67px;
	background-color: aquamarine;
}

.arrowSec i {
	position: absolute;
	width: 1px;
	height: 93px;
	background-color: brown;
}

.digitClock {
	font-size: 3rem;
}

.clockCnt__btn {
	margin-top: 10%;
}
